# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.*

# Database
db.sqlite3
*.sqlite3

# Django
*.log
media/
staticfiles/

# Node
node_modules/
dist/
build/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Misc
*.swp
*.swo